*{
  color:#F5F5F5;
}
@font-face {
    font-family: 'Calvino Grande Trial';
    font-style: normal;
    font-weight: 800;
    src: local('Calvino Grande Trial'), url('https://fonts.cdnfonts.com/s/83089/Calvino-Grande-Extrabold-trial.woff') format('woff');
} 
body{
  background-color: #111111;
  padding: 1em;
  display:grid;
  grid-template-rows: 38vh max-content max-content 1fr;
  grid-template-areas:
  "blank"
  "header"
  "text"
  "buttons";
  /*background-image: url("../assets/RT1.png");
  background-size: 18em;
  background-repeat: no-repeat;
  background-position: -5em center;*/
}
h1 {
  font-size: 4em;
  line-height: 0.8em;
  grid-area: header;
}
.blank{
  grid-area: blank;
}
p {
      font-family: "Figtree", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 1em;
      grid-area: text;
    }

/* Rouwtaak 1 */
.logo{
position: absolute;
left: -7.5em;
top: 21.21%;
z-index:-1;
}
.logo img{
  width:18em;
}

.starten{
  grid-area: buttons;
box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 10px;

position: absolute;
width: 107px;
height: 43px;
left: calc(50% - 107px/2 - 1.5px);
bottom: 36px;

background: #111111;
border: 1px solid #F5F5F5;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 37.5px;
}

.starten p{
width: 54px;
height: 19px;

font-family: 'Figtree';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #F5F5F5;
}
