:root{
  --main-bg-colour: #111111;
  --text-colour: #f5f5f5;
}

* {
  color: var(--text-colour);
}

@font-face {
  font-family: 'Calvino Grande Trial';
  font-style: normal;
  font-weight: 800;
  src: local('Calvino Grande Trial'), url('https://fonts.cdnfonts.com/s/83089/Calvino-Grande-Extrabold-trial.woff') format('woff');
}

body {
  background-color: var(--main-bg-colour);
  padding: 1em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 38vh max-content max-content 1fr;
  grid-template-areas:
    "blank"
    "header"
    "text"
    "buttons";
    @media (min-width:600px) {
      justify-content: center;
    }
}

.blank {
  grid-area: blank;
}

h1 {
  font-size: 4em;
  line-height: 0.8em;
  grid-area: header;
}
.introductie{
  font-size: 3em;
}
h2{
  grid-area: blank;
  font-weight: 600;
}
progress{
  grid-area: blank;
  height:12em;
  @media (min-width:600px) {
    width: 70vw;
  }
}
.blur img{
  width: 40em;
  opacity: 50%;
}
.rechtsboven{
  position: absolute;
  right: -20em;
  top: -20em;
  z-index: -1;  
}
.rechtsmidden{
  position: absolute;
  right: -20em;
  z-index: -1;  
}
.rechtsonder{
  position: absolute;
  right: -17em;
  bottom: -18em;
  z-index: -1;  
}
.linksboven{
  position: absolute;
  left: -20em;
  top: -20em;
  z-index: -1;  
}
.linksmidden{
  position: absolute;
  left: -20em;
  z-index: -1;  
}
.linksonder{
  position: absolute;
  left: -17em;
  bottom: -18em;
  z-index: -1;  
}
.logo {
  position: absolute;
  left: -7.5em;
  top: 21.21%;
  z-index: -1;  
}

.logo img {
  width: 18em;
}
.transparent img{
  opacity: 25%;;
}

p {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
  grid-area: text;
  max-width: 30em;
  @media (min-width: 600px){
    max-width: 75vw;
  }
}

.tekst{
  margin-top: -8em;
  line-height: 1.5em;
}
.buttons{
  bottom: 1em;
  position: absolute;
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  justify-self: center;
  align-items: center;
}
.button{
  text-decoration: none;
  grid-area: buttons; 
  display: flex;
}
button{
  grid-area: buttons;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: var(--main-bg-colour);
  border: 1px solid var(--text-colour);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 25);
  border-radius: 37.5px;
  margin: 1em;
}
button p {
  width: 54px;
  height: 19px;
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 19px;
  color: var(--text-colour);
}
.starten {
  width: 107px;
  height: 43px;
}
.pijl {
  width: 45px;
  height: 45px;
}
